.container-fluid
  %ol.breadcrumb
    %li.breadcrumb-item
      %a{:href => '#'} Evaluation
    %li.breadcrumb-item.active Overview

  .card.mb-3
    .card-header
      %span.glyphicon.glyphicon-list-alt Pending Evaluation
    .card-body
      - if @evaluations.length == 0
        .card-header
          You have no evaluations pending.
      - else
        .table-responsive
          %table#dataTable.table.table-bordered{:cellspacing => '0', :width => '100%'}
            %thead
              %tr
                %th Tutor
                %th Course
                %th Subject
                %th Date Created
                %th Status
              %tfoot
                %tr
                  %th Tutor
                  %th Course
                  %th Subject
                  %th Date Created
                  %th Status
            %tbody
              - @evaluations.each do |evaluation|
                %tr
                  %td= evaluation.meeting.tutor.full_name
                  %td= evaluation.meeting.request.course
                  %td= evaluation.meeting.request.subject
                  %td= evaluation.created_at.strftime("%Y-%m-%d")
                  %td= link_to evaluation.status, edit_tutee_evaluation_path(@tutee, evaluation)
