!!!
%html{:lang => 'en'}
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %meta{:charset => 'utf-8'}/
    %meta{:content => 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}/
    %meta{:content => 'width=device-width, initial-scale=1, shrink-to-fit=no', :name => 'viewport'}/
    %meta{:content => "", :name => 'description'}/
    %meta{:content => "", :name => 'author'}/
    %title Dashboard

  %body#page-top
    / Navbar
    %nav.navbar.navbar-expand.navbar-dark.bg-dark.static-top
      %a.navbar-brand.mr-1.glyphicon.glyphicon-user{:href => tutee_path(@tutee)} #{@tutee.first_name + ' ' + @tutee.last_name}

    / Navbar end

    #wrapper
      / Sidebar
      %ul.sidebar.navbar-nav
        %li.nav-item
          %a.nav-link{:href => tutee_path(@tutee)}
            %span.glyphicon.glyphicon-dashboard
            %span Dashboard
        %li.nav-item
          %a.nav-link{:href => edit_tutee_path(@tutee)}
            %span.glyphicon.glyphicon-folder-open
            %span Edit Info
        %li.nav-item
          %a.nav-link{:href => new_tutee_request_path(@tutee)}
            %span.glyphicon.glyphicon-pencil
            %span Request
        %li.nav-item
          %a.nav-link{:href => request_history_tutee_path(@tutee)}
            %span.glyphicon.glyphicon-list-alt
            %span History
        %li.nav-item.active
          %a.nav-link{:href => '#'}
            -if "pending request"
              %span.glyphicon.glyphicon-edit
            -else
              %span.glyphicon.glyphicon-check
            %span Evaluation
        %li.nav-item
          %a.nav-link{:href => tutees_path}
            %span.glyphicon.glyphicon-off
            %span Logout
      / Sidebar end

      #content-wrapper
        .container-fluid

          / Breadcrumbs
          %ol.breadcrumb
            %li.breadcrumb-item
              %a{:href => '#'} User Information
            %li.breadcrumb-item.active Edit

          / Area Chart Example
          .card.mb-3
            .card-header
              %span.glyphicon.glyphicon-folder-open
              Edit information
            .card-body
              - if flash[:message]
                .alert.alert-danger
                  %span.error= flash[:message]
              = form_tag tutee_evaluations_path(@tutee), class: 'container-fluid' do
                .form-group
                  .form-row
                    .form-group.col-md-8
                      = label :evaluation, :took_place, 'Did you meet your tutor in person?'
                      = label :evaluation, :boolean, 'Yes'
                      = radio_button :evaluation, 'took_place', value: true, checked: true, class: 'form-control radio-inline'
                      = label :evaluation, :boolean, 'No'
                      = radio_button :evaluation, 'took_place', value: false, checked: false, class: 'form-control radio-inline'

                  .form-row
                    .form-group.col-md-8
                      = label :evaluation, :topics, 'What topics did you cover?'
                      = text_field :evaluation, 'topics', class: 'form-control', :placeholder => 'e.g. Tree Recusion, High-order-functions', :maxlength => 250, :pattern => "[a-zA-Z0-9]{1,}", :required => "",
                        :oninput => "this.setCustomValidity('')", :oninvalid => "this.setCustomValidity('Cannot be blank')"
                  How many hours did you receive tutoring for?
                  .form-row
                    .form-group.col-md-8
                      .form-row
                        .form-group.col-md-1
                          = label :evaluation, :hours, '1'
                          = radio_button :evaluation, 'hours', 1.0
                        .form-group.col-md-1
                          = label :evaluation, :hours, '1.5'
                          = radio_button :evaluation, 'hours', 1.5
                        .form-group.col-md-1
                          = label :evaluation, :hours, '2'
                          = radio_button :evaluation, 'hours', 2.0
                        .form-group.col-md-1
                          = label :evaluation, :hours, '2.5'
                          = radio_button :evaluation, 'hours', 2.5
                        .form-group.col-md-1
                          = label :evaluation, :hours, '3'
                          = radio_button :evaluation, 'hours', 3.0
                        .form-group.col-md-1
                          = label :evaluation, :hours, '3.5'
                          = radio_button :evaluation, 'hours', 3.5
                        .form-group.col-md-1
                          = label :evaluation, :hours, '4'
                          = radio_button :evaluation, 'hours', 4.0
                  .form-row
                    .form-group.col-md-8
                      = label :evaluation, :positive, 'Specifically, what did you like about how your tutor covered the material?'
                      = text_area :evaluation, 'positive', class: 'form-control', :minlength => 50, :maxlength => 6500, :required => "", :oninput => "this.setCustomValidity('')",
                        :oninvalid => "this.setCustomValidity('Cannot be blank')", id: 'disabled'
                  .form-row
                    .form-group.col-md-8
                      = label :evaluation, :best, "What's the best thing your tutor did?"
                      = text_area :evaluation, 'best', class: 'form-control', :minlength => 50, :maxlength => 6500, :required => "", :oninput => "this.setCustomValidity('')",
                        :oninvalid => "this.setCustomValidity('Cannot be blank')", id: 'disabled'
                  .form-row
                    .form-group.col-md-8
                      = label :evaluation, :feedback, "Optionally, what could your tutor constructively change or work on improving?"
                      = text_area :evaluation, 'feedback', class: 'form-control', :minlength => 50, :maxlength => 6500, :required => "", :oninput => "this.setCustomValidity('')",
                        :oninvalid => "this.setCustomValidity('Cannot be blank')", id: 'disabled'
                  .form-group.col-md-8
                  How knowledgeable was your tutor?
                  .form-row
                    .form-group.col-md-8
                      .form-row
                        .form-group.col-md-2
                          = label :evaluation, :knowledgeable, "Lacking"
                        .form-group.col-md-1
                          = label :evaluation, :knowledgeable, '1'
                          = radio_button :evaluation, 'knowledgeable', 1
                        .form-group.col-md-1
                          = label :evaluation, :knowledgeable, '2'
                          = radio_button :evaluation, 'knowledgeable', 2
                        .form-group.col-md-1
                          = label :evaluation, :knowledgeable, '3'
                          = radio_button :evaluation, 'knowledgeable', 3
                        .form-group.col-md-1
                          = label :evaluation, :knowledgeable, '4'
                          = radio_button :evaluation, 'knowledgeable', 4
                        .form-group.col-md-1
                          = label :evaluation, :knowledgeable, '5'
                          = radio_button :evaluation, 'knowledgeable', 5
                        .form-group.col-md-2
                          = label :evaluation, :knowledgeable, "Superb"
                  .form-group.col-md-8
                  How supportive or helpful was your tutor?
                  .form-row
                    .form-group.col-md-8
                      .form-row
                        .form-group.col-md-2
                          = label :evaluation, :helpful, "Rude"
                        .form-group.col-md-1
                          = label :evaluation, :helpful, '1'
                          = radio_button :evaluation, 'helpful', 1
                        .form-group.col-md-1
                          = label :evaluation, :helpful, '2'
                          = radio_button :evaluation, 'helpful', 2
                        .form-group.col-md-1
                          = label :evaluation, :helpful, '3'
                          = radio_button :evaluation, 'helpful', 3
                        .form-group.col-md-1
                          = label :evaluation, :helpful, '4'
                          = radio_button :evaluation, 'helpful', 4
                        .form-group.col-md-1
                          = label :evaluation, :helpful, '5'
                          = radio_button :evaluation, 'helpful', 5
                        .form-group.col-md-2
                          = label :evaluation, :helpful, "Supportive"
                  .form-group.col-md-8
                  How clear were the tutor's explanations? *
                  .form-row
                    .form-group.col-md-8
                      .form-row
                        .form-group.col-md-2
                          = label :evaluation, :clarity, "Vague"
                        .form-group.col-md-1
                          = label :evaluation, :clarity, '1'
                          = radio_button :evaluation, 'clarity', 1
                        .form-group.col-md-1
                          = label :evaluation, :clarity, '2'
                          = radio_button :evaluation, 'clarity', 2
                        .form-group.col-md-1
                          = label :evaluation, :clarity, '3'
                          = radio_button :evaluation, 'clarity', 3
                        .form-group.col-md-1
                          = label :evaluation, :clarity, '4'
                          = radio_button :evaluation, 'clarity', 4
                        .form-group.col-md-1
                          = label :evaluation, :clarity, '5'
                          = radio_button :evaluation, 'clarity', 5
                        .form-group.col-md-2
                          = label :evaluation, :clarity, "Clear"
                  .form-group.col-md-8
                  How was the pacing of the appointment? (3 means perfect speed)
                  .form-row
                    .form-group.col-md-8
                      .form-row
                        .form-group.col-md-2
                          = label :evaluation, :pacing, "Too slow"
                        .form-group.col-md-1
                          = label :evaluation, :pacing, '1'
                          = radio_button :evaluation, 'pacing', 1
                        .form-group.col-md-1
                          = label :evaluation, :pacing, '2'
                          = radio_button :evaluation, 'pacing', 2
                        .form-group.col-md-1
                          = label :evaluation, :pacing, '3'
                          = radio_button :evaluation, 'pacing', 3
                        .form-group.col-md-1
                          = label :evaluation, :pacing, '4'
                          = radio_button :evaluation, 'pacing', 4
                        .form-group.col-md-1
                          = label :evaluation, :pacing, '5'
                          = radio_button :evaluation, 'pacing', 5
                        .form-group.col-md-2
                          = label :evaluation, :pacing, "Too fast"
                  .form-row
                    .form-group.col-md-8
                      = label :evaluation, :feedback, "Any comments or concerns that will be kept private from your tutor?"
                      %span.small (Visible to Instructors)
                      .form-row
                      %span.small This is for matters that you would prefer to keep private that should be raised to instructors. If it's a compliment, we suggest writing it above!
                      = text_area :evaluation, 'feedback', class: 'form-control', :minlength => 50, :maxlength => 6500, :required => "", :oninput => "this.setCustomValidity('')",
                        :oninvalid => "this.setCustomValidity('Cannot be blank')", id: 'disabled'
                = submit_tag 'Submit Evaluation', class: 'btn btn-primary'
            .card-footer.small.text-muted Updated at #{ @tutee.updated_at.in_time_zone('Pacific Time (US & Canada)').to_s + ' PST'}

        / Sticky Footer
        %footer.sticky-footer
          .container.my-auto
            .copyright.text-center.my-auto
              %span Copyright © UC Berkeley 2019
