.container-fluid
  -if @meeting.nil?
    .card.mb-3
      .card-header
        You have no scheduled meetings.
  -elsif not @meeting.set_time.nil?
    .card.mb-3
      .card-header
        %span.glyphicon.glyphicon-map-marker
        Your Next Meeting Info
      .card-body
        %h5 Time & Date:
        #{@meeting.set_time.strftime("%A %d at %l:%M %p")}
      .card-body
        %h5 Location:
        #{@meeting.set_location.titleize}
      .card-body
        %h5 Class:
        #{@req.last.course.name}
      .card-body
        %h5 Tutor:
        #{@tutor.first_name + " " + @tutor.last_name}
      .card-body
        %h5 Tutor Email:
        #{@tutor.email}
  -else
    .card.mb-3
      .card-body
        You have matched with a tutor. Please agree upon a time and location with them. Once the tutor enters those details, they will appear here.
      .card-body
        %h5 Tutor:
        #{@tutor.first_name + " " + @tutor.last_name}
      .card-body
        %h5 Tutor Email:
        #{@tutor.email}
    
