%body.container-fluid.landing_background
  .row.h-100.justify-content-center.align-items-center
    .col-10.pt-3.text-white
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = render "devise/shared/error_messages", resource: resource
        .row.form-group
          .col-2.pr-1
            .card.p-3.h-100.text-center.justify-content-center.custom-slight-transparency-bg.text-white.lead
              Account Info
          .col-10.pl-1
            .form-row
              .col.pt-1
                =f.label :first_name, 'First Name', class:"text-white pl-1"
                =f.text_field :first_name, class:"form-control", required: true, placeholder: 'e.g. Oski', pattern:"[a-zA-Z]+$", oninput:"this.setCustomValidity('')", oninvalid:"this.setCustomValidity('Enter your name with only letters only, please')"
              .col.pt-1
                =f.label :last_name, 'Last Name', class:"text-white pl-1"
                =f.text_field :last_name, class:"form-control", required: true, placeholder: 'e.g. Tree', pattern:"[a-zA-Z]+$", oninput:"this.setCustomValidity('')", oninvalid:"this.setCustomValidity('Enter your name with letters only, please')"
            .form-row
              .col.pt-1
                =f.label :email, 'Email Address', class:"text-white pl-1"
                =f.email_field :email, class:"form-control", required: true, placeholder: 'e.g. stronkbear@berkeley.edu', pattern: "[a-z0-9._%+-]+@berkeley.edu", oninput:"this.setCustomValidity('')", oninvalid:"this.setCustomValidity('Enter Berkeley email only')"

        .row.form-group
          .col-2.pr-1
            .card.p-3.h-100.text-center.justify-content-center.custom-slight-transparency-bg.text-white.lead
              Password
          .col-10.pl-1
            .form-row
              .col.pt-1
                = f.label :password, 'New Password'
                %i (leave blank if you don't want to change it)
                - if @minimum_password_length
                  %em
                    (#{@minimum_password_length} characters minimum)
                = f.password_field :password, autocomplete: "new-password", class: 'form-control', :minlength => 6
            .form-row
              .col.pt-1
                = f.label :password_confirmation, 'New Password Confirmation'
                = f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control'
            .form-row
              .col.pt-1
                = f.label :current_password
                %i (required to confirm any change)
                %br/
                = f.password_field :current_password, autocomplete: "current-password", class: 'form-control', required:true
        .row.form-group
          .col-2.pr-1
            .card.p-3.h-100.text-center.justify-content-center.custom-slight-transparency-bg.text-white.lead
              Demographic Info
          .col-10.pl-1
            .form-row
              .col-2.pt-1
                =f.label :gender, 'Gender', class:"text-white pl-1"
                =f.select :gender, ['Male','Female','Non-Binary','Prefer not to say'], {include_hidden: false}, class:"selectpicker form-control custom-hide-empty-option", required:true, title: 'Go'
              .col-2.pt-1
                =f.label :pronoun, 'Pronouns', class:"text-white pl-1"
                =f.select :pronoun, ['He/His', 'She/Her', 'They/Their', 'Other'], {include_hidden: false}, class:"selectpicker form-control custom-hide-empty-option", required:true, title: 'Bears!'
              .col-8.pt-1
                -ethnicity_group_options = [['Underrepresented Minority',['American Indian or Alaska Native', 'Black or African American', 'Hispanic, Latino, or of Spanish origin', 'Middle Eastern or North African']],['Asian/Pacific Islander',['Chinese','Japanese','Korean','South Asian','Vietnamese','Filipino','Other Asian','Native Hawaiian or Other Pacific Islander']],['White/Other',['White','Group not listed here','Prefer not to say']]]
                =f.label :ethnicity, 'Ethnicity', class:"text-white pl-1"
                =f.select :ethnicity, grouped_options_for_select(ethnicity_group_options), {include_hidden: false}, class:"selectpicker form-control", required:true, multiple:true, title: 'Golden Bear :)'
            .form-row
              .col-4.pt-1
                =f.label :term, 'Current Term in Attendance',  class:"text-white pl-1"
                =f.select :term, ["1","2","3","4","5","6","7","8","9 or higher"], {include_hidden: false}, class:"selectpicker form-control custom-hide-empty-option", required:true, title: '9001'
              .col-4.pt-1
                -major_group_options = [['Declaration',['Intended', 'Declared']],['Field',['Undecided','Computer Science','Data Science','Cognitive Science','EECS','Other']]]
                =f.label :major, 'Major', class:"text-white pl-1"
                =f.select :major, grouped_options_for_select(major_group_options), {include_hidden: false}, class:"selectpicker form-control custom-major-multiselect-config", required:true, multiple:true, title: 'Intended, Boba Studies'
              .col-2.pt-1
                =f.label :dsp, 'DSP Student?',  class:"text-white pl-1"
                =f.select :dsp, [['Yes',true],['No',false]], {include_hidden: false}, class:"selectpicker form-control custom-hide-empty-option", required:true, title: 'Maybe?'
              .col-2.pt-1
                =f.label :transfer, 'Transfer Student?',  class:"text-white pl-1"
                =f.select :transfer, [['Yes',true],['No',false]], {include_hidden: false}, class:"selectpicker form-control custom-hide-empty-option",  required:true, title: 'Maybe?'
        = link_to 'Back', dashboard_path, class: 'btn btn-primary'
        = submit_tag 'Save Changes', class: 'btn btn-primary'
