%html
  %head
    %title
      Create Account
    %body
      .container
        %h1.form2 Create Account
      - if flash[:message]
        .alert.alert-danger
          %span.error= flash[:message]
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'container form1' }) do |f|
        = render "devise/shared/error_messages", resource: resource
        .form-group
          .form-row
            .form-group.col-md-4
              = f.label :first_name, 'First Name'
              = f.text_field  :first_name, class: 'form-control', :placeholder => 'Jane', :maxlength => 15, :pattern => "[a-zA-Z]{1,}", :required => "",
               :oninput => "this.setCustomValidity('')", :oninvalid => "this.setCustomValidity('Cannot contain numbers or be blank')"
            .form-group.col-md-4
              = f.label :last_name, 'Last Name'
              = f.text_field :last_name, class: 'form-control', :placeholder => 'Doe', :maxlength => 15, :pattern => "[a-zA-Z]*", :required => "",
               :oninput => "this.setCustomValidity('')", :oninvalid => "this.setCustomValidity('Cannot contain numbers or be blank')"
          .form-row
            .form-group.col-md-2
              = f.label :birthdate, 'Birthdate'
              = f.date_field :birthdate, class: 'datepicker form-control', :placeholder => 'YYYY-MM-DD', :required => "",:oninput => "this.setCustomValidity('')",
               :oninvalid => "this.setCustomValidity('Cannot be blank or invalid')"
            .form-group.col-md-2
              = f.label :gender, 'Gender'
              = f.select :gender, %w(female male nonbinary prefer\ not\ to\ say), {}, class: 'form-control'
            .form-group.col-md-2
              = f.label :pronoun, "Pronouns"
              = f.select :pronoun, %w(he/his she/her they/their other),{} , class: 'form-control'
            .form-group.col-md-2
              = f.label :ethnicity, 'Ethnicity'
              = f.select :ethnicity, %w(Asian Black/African Caucasian Hispanic/Latinx Native\ American Pacific\ Islander mixed other prefer\ not\ to\ say),{} , class: 'form-control'
          .form-row
            .form-group.col-md-4
              = f.label :email, 'Email'
              = f.email_field :email, class: 'form-control', :required => "", :placeholder => 'e.g. Email@berkeley.edu', :pattern => "[a-z0-9._%+-]+@berkeley.edu",
               :oninput => "this.setCustomValidity('')", :oninvalid => "this.setCustomValidity('Enter berkeley email only')"
            .form-group.col-md-4
              = f.label :sid, 'Student SID'
              = f.number_field :sid, class: 'form-control', :min => "100000", :max => "9999999999",:minlength => 6, :maxlength => 10, :placeholder => 'e.g. 123456789', :required => "",
               :oninput => "this.setCustomValidity('')", :oninvalid => "this.setCustomValidity('Cannot be blank and 6-10 digits')"
          .form-row
            .form-group.col-md-4
              = f.label :pasword, 'Password'
              - if @minimum_password_length
                %em
                  (#{@minimum_password_length} characters minimum)
              = f.password_field :password, autocomplete: "new-password", class: 'form-control', :required => "", :minlength => 6, :oninput => "this.setCustomValidity('')", :oninvalid => "this.setCustomValidity('Cannot be blank')"
            .form-group.col-md-4
              = f.label :password_confirmation, 'Confirm Password'
              = f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', :required => "", :oninput => "this.setCustomValidity('')", :oninvalid => "this.setCustomValidity('Cannot be blank')"
          .form-row
            .form-group.col-md-2
              = f.label :major, 'Major'
              = f.select :major, %w(EECS CS other), {}, class: 'form-control'
            .form-group.col-md-2
              = f.label :dsp, 'DSP?'
              = f.select :dsp, %w(No Yes), {}, class: 'form-control'
            .form-group.col-md-2
              = f.label :transfer, 'Transfer Student?'
              = f.select :transfer,  %w(No Yes), {}, class: 'form-control'
            .form-group.col-md-2
              = f.label :year, 'Years attending UC Berkeley'
              = f.select :year, %w(1\ year 2\ years 3\ years 4\ years 5+\ years),  {}, class: 'form-control'
          .form-row
            .form-group.col-md-8
              = f.label :privilege, 'For CS Scholars only. What CS Scholar Program Course?'
              = f.select :privilege, %w(No cs61a cs61b cs61c cs70),  {}, class: 'form-control'
          .form-row
            .form-group.col-md-2
              = submit_tag 'Sign up', class: 'btn btn-primary'
        = render "devise/shared/links"

