%li.list-group-item
  .mb-2= text_field_tag "qt_#{qt.id}_prompt", qt.prompt, required:'true', class:'form-control'
  .form-row
    .col-auto.pl-4.pr-3
      .form-row
        %p.mb-1.text-muted
          What type of question is this?
      .form-row.pb-1
        .col-7.pl-0.pr-0
          = select_tag "qt_#{qt.id}_is_optional", options_for_select([['Optional',true],['Mandatory',false]], qt.is_optional), options={required:'true', class:'form-control form-control-sm'}
        .col.pl-1.pr-0
          = select_tag "qt_#{qt.id}_question_type", options_for_select([['Text Field','text'],['Numeric Scale','scale'],['Dropdown','dropdown']], qt.question_type), required:'true', class:'form-control form-control-sm', onchange: "showSelectDetails(this);"
      .form-row
        .col-7.pl-0.pr-0
          = select_tag "qt_#{qt.id}_is_admin_only", options_for_select([['Visible to Tutor',false],['Visible to Admin Only',true]], qt.is_admin_only), required:'true', class:'form-control form-control-sm'
        .col.pl-1.pr-0
          = select_tag "qt_#{qt.id}_is_active", options_for_select([['Enabled',true],['Disabled',false]], qt.is_active), required:'true', class:'form-control form-control-sm'
    .col-auto.my-auto{id: "qt_#{qt.id}_select_details"}
