!!!
%html{:lang => 'en'}
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %meta{:charset => 'utf-8'}/
    %meta{:content => 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}/
    %meta{:content => 'width=device-width, initial-scale=1, shrink-to-fit=no', :name => 'viewport'}/
    %meta{:content => '', :name => 'description'}/
    %meta{:content => '', :name => 'author'}/
    %title Dashboard

  %body#page-top

    / Navbar
    %nav.navbar.navbar-expand.navbar-dark.bg-dark.static-top
      %a.navbar-brand.mr-1.glyphicon.glyphicon-user{:href => '#'} Admin
      .d-none.d-md-inline-block.form-inline.ml-auto.mr-0.mr-md-3.my-2.my-md-0
        .input-group
          .input-group-append
            %a.navbar-brand.mr-1{:href => '#'} CS370
    / Navbar end
    - if flash[:message]
      .alert.alert-danger
        %span.error= flash[:message]

    #wrapper
      / Sidebar
      %ul.sidebar.navbar-nav
        %li.nav-item
          %a.nav-link{:href => admin_logout_path}
            %span.glyphicon.glyphicon-off
            %span Logout
      / Sidebar end

      #content-wrapper
        .container-fluid


          / Breadcrumbs
          %ol.breadcrumb
            %li.breadcrumb-item
              %a{:href => '#'} Dashboard
            %li.breadcrumb-item.active Overview

          .card.mb-3
            .card-header
              %span.glyphicon.glyphicon-dashboard
              Current Semester: #{@current_semester}
          .card.mb-3
            .card-header
              %span.glyphicon.glyphicon-pencil
              Update Current Semester
            .card-body
              - if flash[:curr_message]
                .alert.alert-danger
                  %span.error= flash[:curr_message]
              = form_tag admin_update_current_semester_path, class: 'container-fluid' do
                .form-row
                  .form-group.col-md-4
                    = label :update_current_semester, :semester, 'Please pick a semester:'
                    = select :update_current_semester, :semester, options_for_select(@semester_options), {:id =>'semester_list'}, class: 'form-control'
                  .form-group.col-md-4
                    = label :update_current_semester, :year, 'Year'
                    = text_field :update_current_semester, 'year', class: 'form-control', :placeholder => 'e.g. 2019', :required => "",
                      :oninput => "this.setCustomValidity('')", :oninvalid => "this.setCustomValidity('Cannot be empty')"

                = submit_tag 'Update current semester', :id=>'update_current_semester',data: { confirm: "Are you sure? This will change the current semester for the whole site! Not just the admins view. This should be done only once at the end of the semester." }, class: 'btn btn-primary'

          .card.mb-3
            .card-header
              %span.glyphicon.glyphicon-dashboard
              Semester Statistics Are Shown For: #{@statistics_semester}
          .card.mb-3
            .card-header
              %span.glyphicon.glyphicon-pencil
              Update Semester Statistics You Want to See
            .card-body
              - if flash[:stat_message]
                .alert.alert-danger
                  %span.error= flash[:stat_message]
              = form_tag admin_update_statistics_semester_path, class: 'container-fluid' do
                .form-row
                  .form-group.col-md-4
                    = label :update_statistics_semester, :semester, 'Please pick a semester:'
                    = select :update_statistics_semester, :semester, options_for_select(@semester_options), {:id =>'semester_list'}, class: 'form-control'
                  .form-group.col-md-4
                    = label :update_statistics_semester, :year, 'Year'
                    = text_field :update_statistics_semester, 'year', class: 'form-control', :placeholder => 'e.g. 2019', :required => "",
                      :oninput => "this.setCustomValidity('')", :oninvalid => "this.setCustomValidity('Cannot be empty')"

                = submit_tag 'Update statistic semester', :id=>'update_statistics_semester', class: 'btn btn-primary'



        / Sticky Footer
        %footer.sticky-footer
          .container.my-auto
            .copyright.text-center.my-auto
              %span Copyright © UC Berkeley 2019
