.container-fluid
  / Breadcrumbs
  %ol.breadcrumb
    %li.breadcrumb-item
      %a{:href => '#'} Tutor Ratings
    %li.breadcrumb-item.active Overview

  .card.mb-3
    .card-header
      %span.glyphicon.glyphicon-dashboard
      Rating of all Tutors for semester - #{@current_semester}
  .card.mb-3
    .card-header
      %span.glyphicon.glyphicon-list-alt Tutor Ratings
    .card-body
      .table-responsive
        %table#dataTable.table.table-bordered{:cellspacing => '0', :width => '100%'}
          %thead
            %tr
              %th Tutee
              %th Average of How knowledgeable was your tutor?
              %th Average of How supportive or helpful was your tutor?
              %th Average of How clear were the tutor's explanations?
              %th Composite Score
          %tbody
            - @meetings.each do |meet|
              %tr
                %td= Tutor.find_by_id(meet.tutor_id).first_name
                %td= Evaluation.find_by_id(meet.evaluation_id).knowledgeable
                %td= Evaluation.find_by_id(meet.evaluation_id).helpful
                %td= Evaluation.find_by_id(meet.evaluation_id).clarity
                %td= 5