.container-fluid

  %ol.breadcrumb
    %li.breadcrumb-item
      %a{:href => '#'} Rating Tutors
    %li.breadcrumb-item.active Overview

  .card.mb-3
    .card-header.justify-content-between.align-items-center
      %span.glyphicon.glyphicon-list-alt Rating Tutors
      -# = link_to 'Export as CSV', admin_export_table_path(query: "tutor_ratings"), class: "btn btn-info float-right", download: true
    .card-body
      - @likert_scale_averages.each do |h|
        = "#{h[0]} average rating:"
        = "#{h[1][0]} out of #{h[1][1]}"
        %br
