.container-fluid

  / Breadcrumbs
  %ol.breadcrumb
    %li.breadcrumb-item
      %a{:href => '#'} Admin
    %li.breadcrumb-item.active Tutor Hours

  %p{:class => "text-center h4"} CS370 has completed #{@evaluations.total_hours} hours of tutoring this semester!

  / DataTables Example
  #firstTable
    .card.mb-3
      .card-header.justify-content-between.align-items-center
        = button_tag 'Tutor Hours', class: "btn glyphicon glyphicon-list-alt", data: {toggle: "collapse", target: "#tutors"}
        = link_to 'Export as CSV', admin_tutor_hours_export_path(format: "csv"), class: "btn btn-info float-right", download: true
      .collapse.show{id: "tutors", data: {parent: "#firstTable"}}
        .card-body
          .table-responsive
            %table#dataTable.table.table-bordered{:cellspacing => '0', :width => '100%'}
              %thead
                %tr
                  %th Tutor Email
                  %th Tutor Name
                  %th Total Hours

                %tfoot
                  %tr
                  %th Tutor Email
                  %th Tutor Name
                  %th Total Hours

              %tbody
                - @tutors.each do |tutor|
                  %tr
                    %td= tutor.email
                    %td= tutor.first_name + " " + tutor.last_name
                    %td= tutor.evaluations.where(:took_place => true).where(:status => "Complete").sum(:hours)

    .card.mb-3
      .card-header.justify-content-between.align-items-center
        = button_tag 'Hours by Demographic', class: "btn glyphicon glyphicon-list-alt", data: {toggle: "collapse", target: "#demographics"}
        = link_to 'Export as CSV', admin_demographic_hours_export_path(format: "csv"), class: "btn btn-info float-right", download: true
      .collapse.hide{id: "demographics", data: {parent: "#firstTable"}}
        .card-body
          .table-responsive
            %table#dataTable.table.table-bordered{:cellspacing => '0', :width => '100%'}
              %thead
                %tr
                  %th Ethnicity/Gender
                  %th Total Hours

                %tfoot
                  %tr
                  %th Ethnicity/Gender
                  %th Total Hours

              %tbody
                - @demographics.each do |demographic|
                  %tr
                    - if demographic.eql?("Other")
                      %td= "Other Ethnicity"
                    - else
                      %td= demographic

                    - if ["Male", "Female", "Non-Binary"].any? {|str| str.eql? demographic}
                      %td= @evaluations.hours_gender(demographic)
                    - else
                      %td= @evaluations.hours_ethnicity(demographic)

    .card.mb-3
      .card-header.justify-content-between.align-items-center
        = button_tag 'Hours by Course', class: "btn glyphicon glyphicon-list-alt", data: {toggle: "collapse", target: "#course"}
        = link_to 'Export as CSV', admin_course_hours_export_path(format: "csv"), class: "btn btn-info float-right", download: true
      .collapse.hide{id: "course", data: {parent: "#firstTable"}}
        .card-body
          .table-responsive
            %table#dataTable.table.table-bordered{:cellspacing => '0', :width => '100%'}
              %thead
                %tr
                  %th Course
                  %th Total Hours

                %tfoot
                  %tr
                  %th Course
                  %th Total Hours

              %tbody
                - @courses.each do |course|
                  %tr
                    %td= course.name
                    %td= @evaluations.hours_course(course)
