.container-fluid
  
  %ol.breadcrumb
    %li.breadcrumb-item
      %a{:href => '#'} Update Admins Password
    %li.breadcrumb-item.active Overview
  .card.mb-3
    .card-header
      %span.glyphicon.glyphicon-pencil
      Update Admins Password
    .card-body
      = form_tag admin_post_update_password_path, class: 'container-fluid' do
        .form-row
          .form-group.col-md-4
            = label :update_password, :password, 'Please enter a new password'
            = text_field :update_password, 'password', class: 'form-control', :required => "",
              :oninput => "this.setCustomValidity('')", :oninvalid => "this.setCustomValidity('Cannot be empty')"
        .form-row
          .form-group.col-md-4
            = label :update_password, :password_confirmation, 'Password confirmation'
            = text_field :update_password, 'password_confirmation', class: 'form-control', :required => "",
              :oninput => "this.setCustomValidity('')", :oninvalid => "this.setCustomValidity('Cannot be empty')"

        = submit_tag 'Update password', :id=>'update_password',data: { confirm: "Verify you want to change the admin accounts password. If you misplace this password you must recover it directly within the database." }, class: 'btn btn-primary'
