.container-fluid


  / Breadcrumbs
  %ol.breadcrumb
    %li.breadcrumb-item
      %a{:href => '#'} Dashboard
    %li.breadcrumb-item.active Overview

  .card.mb-3
    .card-header
      %span.glyphicon.glyphicon-dashboard
      Current Semester: #{@current_semester}
  .card.mb-3
    .card-header
      %span.glyphicon.glyphicon-pencil
      Update Current Semester
    .card-body
      - if flash[:curr_message]
        .alert.alert-danger
          %span.error= flash[:curr_message]
      = form_tag admin_update_current_semester_path, class: 'container-fluid' do
        .form-row
          .form-group.col-md-4
            = label :update_current_semester, :semester, 'Please pick a semester:'
            = select :update_current_semester, :semester, options_for_select(@semester_options), {:id =>'semester_list'}, class: 'form-control'
          .form-group.col-md-4
            = label :update_current_semester, :year, 'Year'
            = text_field :update_current_semester, 'year', class: 'form-control', :placeholder => 'e.g. 2019', :required => "",
              :oninput => "this.setCustomValidity('')", :oninvalid => "this.setCustomValidity('Cannot be empty')"

        = submit_tag 'Update current semester', :id=>'update_current_semester',data: { confirm: "Are you sure? This will change the current semester for the whole site! Not just the admins view. This should be done only once at the end of the semester." }, class: 'btn btn-primary'
