.container-fluid
  / Breadcrumbs
  %ol.breadcrumb
    %li.breadcrumb-item
      %a{:href => '#'} Update Student Priorities
    %li.breadcrumb-item.active Overview
  .card.mb-3
    .card-header
      %span.glyphicon.glyphicon-pencil
      Note the use of this page below:
    .card-body
      .text-info
        This DOES NOT store the student ids for later use, so no validation is done on students that make a new account claiming to have a certain priority.
      .text-info
        Instead, this can be used to prune away any students that currently have an account claiming a certain priority (that they do not actually have).
      .text-muted
        Or it can be used to update a students account to have a specific priority by adding their sid to a field below.
      .padding-bottom ...................................................
      .text-danger
        Important:
      .text-danger
        Please note that a student can only have 1 priority and currently the system does not have any kind of tier system for ranking priorities.
        So recommended use of this page would be to add and update sids of the LOWEST priority first, then continue updating sids from lowest to highest priority.
        This is to enforce a tier system within priorities so that a student with a given sid always gets assigned the highest priority they are allowed.
  / Update CS61A Scholars
  .card.mb-3
    .card-header
      %span.glyphicon.glyphicon-pencil
      Update CS61A Scholars:
    .card-body
      = form_tag admin_update_student_priorities_61A_path, class: 'container-fluid' do
        .form-row
          .form-group.col-md-8
            = label :update_student_priorities, :CS61A, 'Enter student ids of CS61A scholars (one per line):'
            = text_area :update_student_priorities, :CS61A, rows: 10, col: 3, class: 'form-control', :value => @current_cs61a_scholars, :required => "",
              :oninput => "this.setCustomValidity('')", :oninvalid => "this.setCustomValidity('Cannot be empty')"
        = submit_tag 'Update CS61A Scholars', :id=>'update_cs61a_scholars_button', class: 'btn btn-primary'
  / Update CS61B Scholars
  .card.mb-3
    .card-header
      %span.glyphicon.glyphicon-pencil
      Update CS61B Scholars:
    .card-body
      = form_tag admin_update_student_priorities_61B_path, class: 'container-fluid' do
        .form-row
          .form-group.col-md-8
            = label :update_student_priorities, :CS61B, 'Enter student ids of CS61B scholars (one per line):'
            = text_area :update_student_priorities, :CS61B, rows: 10, col: 3, class: 'form-control', :value => @current_cs61b_scholars, :required => "",
              :oninput => "this.setCustomValidity('')", :oninvalid => "this.setCustomValidity('Cannot be empty')"
        = submit_tag 'Update CS61B Scholars', :id=>'update_cs61b_scholars_button', class: 'btn btn-primary'

  / Update CS61C Scholars
  .card.mb-3
    .card-header
      %span.glyphicon.glyphicon-pencil
      Update CS61C Scholars:
    .card-body
      = form_tag admin_update_student_priorities_61C_path, class: 'container-fluid' do
        .form-row
          .form-group.col-md-8
            = label :update_student_priorities, :CS61C, 'Enter student ids of CS61C scholars (one per line):'
            = text_area :update_student_priorities, :CS61C, rows: 10, col: 3, class: 'form-control', :value => @current_cs61c_scholars, :required => "",
              :oninput => "this.setCustomValidity('')", :oninvalid => "this.setCustomValidity('Cannot be empty')"
        = submit_tag 'Update CS61C Scholars', :id=>'update_cs61c_scholars_button', class: 'btn btn-primary'


  / Update CS70 Scholars
  .card.mb-3
    .card-header
      %span.glyphicon.glyphicon-pencil
      Update CS70 Scholars:
    .card-body
      = form_tag admin_update_student_priorities_70_path, class: 'container-fluid' do
        .form-row
          .form-group.col-md-8
            = label :update_student_priorities, :CS70, 'Enter student ids of CS70 scholars (one per line):'
            = text_area :update_student_priorities, :CS70, rows: 10, col: 3, class: 'form-control', :value => @current_cs70_scholars, :required => "",
              :oninput => "this.setCustomValidity('')", :oninvalid => "this.setCustomValidity('Cannot be empty')"
        = submit_tag 'Update CS70 Scholars', :id=>'update_cs70_scholars_button', class: 'btn btn-primary'
