<%= stylesheet_link_tag "tutors_edit" %>

<% if notice %>
<%= render "notice_danger" %>
<% end %>

<div class="container emp-profile" style="margin-top: 25px;">

    <div class="row" style="padding-bottom: 20px;">
        <div class="col-md-4">
            <div class="profile-img">
                <%= image_tag("user.svg") %>
            </div>
        </div>
        <div class="col-md-6" style="padding: 0; display: flex; flex-direction: column; justify-content: center;">
            <div class="profile-head">
                <h5 style="padding-top: 16px; font-size: 30px;">
                    <%= @tutor.first_name %> <%= @tutor.last_name%>
                </h5>
                <h6>
                    <%=@tutor.type_of_tutor%>
                </h6>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

    <%= form_tag("/tutors/" + @tutor.id.to_s, method: :put) do%> 
    <div class="row">
		<div class="col-md-4">
			 <div class="profile-work">
			 	<p class="required" style="width: fit-content; margin: 0px auto .5rem;">Preferred Classes</p>
			 	<div style="border: 1px solid #ced4da; border-radius: 0.25rem; width: 130px; margin: 0px auto; padding: 10px 0 2px 0;">
				 	<% @class_obj.attributes.each do |attr_name, attr_value| %>
				  		<% unless attr_name.eql?('id') %>
				  		<div class="berkeley_class_row">
					  		<label for=<%= attr_name + "_checkbox"%> style="float:left;"> <%=attr_name%> </label>
		    			 	<input type="checkbox" value=<%=true%> name=<%="classes[" + attr_name + "]" %> 
		    			 	id=<%=attr_name + "_checkbox"%> <%= attr_value ? 'checked' : ''%> style="float:right; margin-top: 6px;">
		    			</div>
					 	<% end %>
					<% end %>
				</div>
			</div>
		</div>
		<div class="col-md-8 ">
            <div class="row special-form">
                <div class="form-group">
                    <label class="required" for="tutor_first_name">First Name</label>
                    <%= text_field_tag("tutor[first_name]",  @tutor.first_name, {:class => 'form-control', :required => true, :oninput => "this.setCustomValidity('')", :oninvalid => "this.setCustomValidity('Letters and Special Characters only')", :pattern => '[a-zA-Z\-\']+'}) %>
                </div>
                <div class="form-group">
                    <label class="required" for="tutor_last_name">Last Name</label>
                    <%= text_field_tag("tutor[last_name]",  @tutor.last_name, {:class => 'form-control', :required => true, :oninput => "this.setCustomValidity('')", :oninvalid => "this.setCustomValidity('Letters and Special Characters only')", :pattern => '[a-zA-Z\-\']+'}) %>
                </div>
                <div class="form-group">
                    <label class="required" for="tutor_type_of_tutor">Type of Tutor</label>
                    <%= select_tag("tutor[type_of_tutor]", options_for_select(['CSM (8-12 hours)', 'TA (12 hours)', 'Academic Intern (36 hours)', 'Tutor (12 hours)'],  @tutor.type_of_tutor), {:class => 'form-control', :required => true}) %>
                </div>
                <div class="form-group">
                    <label class="required" for="tutor_email">Email</label>
                    <input class="form-control" type="email" value=<%= @tutor.email %> name="tutor[email]" id="tutor_email" pattern="[a-zA-Z0-9._%+-]+@berkeley\.edu$" placeholder=<%= @tutor.email %> oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Enter berkeley email only')" required>
                </div>
                <div class="form-group">
                    <label class="required" for="tutor_grade_level">Year</label>
                    <%= select_tag("tutor[grade_level]", options_for_select(['1st', '2nd', '3rd', '4th', 'Other'],  @tutor.grade_level), {:class => 'form-control', :required => true}) %>
                </div>
                <div class="form-group">
                    <label class="required" for="tutor_birthday">Birthday</label>
                    <%= date_field_tag("tutor[birthday]",  @tutor.birthday, {:class => 'form-control', :required => true}) %>
                </div>
                 <div class="form-group">
                    <label class="required" for="tutor_gender">Gender</label>
                    <%= select_tag("tutor[gender]", options_for_select(['Male', 'Female', 'Non-binary', 'Prefer not to say'],  @tutor.gender), {:class => 'form-control', :required => true}) %>
                </div>
                
                
               <div class="form-group">
                    <label class="required" for="tutor_sid">SID</label>
                    <%= text_field_tag("tutor[sid]",  @tutor.sid, {:class => 'form-control', :required => true, :oninput => "this.setCustomValidity('')", :oninvalid => "this.setCustomValidity('Numbers Only')", :pattern => '[0-9]+$'}) %>
                </div>
                <div class="form-group">
                    <label class="required" for="tutor_birthday">Major</label>
                    <%= text_field_tag("tutor[major]",  @tutor.major, {:class => 'form-control', :required => true}) %>
                </div>
                <div class="form-group">
                    <label class="required" for="tutor_dsp?">DSP?</label>
                    <%= select_tag("tutor[dsp?]", options_for_select([true, false],  @tutor.dsp?), {:class => 'form-control', :required => true}) %>
                </div>
                <div class="form-group">
                    <label class="required" for="tutor_transfer?">Transfer?</label>
                    <%= select_tag("tutor[transfer?]", options_for_select([true, false],  @tutor.dsp?), {:class => 'form-control', :required => true}) %>
                </div>
                
        	</div>
    	</div>
    </div>
    <div style="width: 100%;">
    	<%= link_to 'Back', tutor_path(@tutor), class: 'btn btn-secondary'%>
		<input type="submit" value="Update" class="btn btn-primary" style="float:right;">
    </div>
    <%end%>
</div>

