
<% if notice %>
<%= render "notice_danger" %>
<% end %>

<div class="container emp-profile" style="margin-top: 25px;">

    <div class="row" style="padding-bottom: 20px;">
        <div class="col-md-4">
            <div class="profile-img">
                <%= image_tag("user.svg") %>
            </div>
        </div>
        <div class="col-md-6" style="padding: 0; display: flex; flex-direction: column; justify-content: center;">
            <div class="profile-head">
                <h5 style="padding-top: 16px; font-size: 30px;">
                    <%= @tutor.first_name %> <%= @tutor.last_name%>
                </h5>
                <h6>
                    <%=@tutor.type_of_tutor%>
                </h6>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

    <%= form_tag("/tutors/" + @tutor.id.to_s, method: :put) do%>
		<div class="col-md-8 ">
            <div class="row special-form">
                <div class="form-group">
                    <label class="required" for="tutor_first_name">First Name</label>
                    <%= text_field_tag("tutor[first_name]",  @tutor.first_name, {:class => 'form-control', :required => true, :oninput => "this.setCustomValidity('')", :oninvalid => "this.setCustomValidity('Letters and Special Characters only')", :pattern => "[a-zA-ZA-z0-9À-ž.'- ]{1, }"}) %>
                </div>
                <div class="form-group">
                    <label class="required" for="tutor_last_name">Last Name</label>
                    <%= text_field_tag("tutor[last_name]",  @tutor.last_name, {:class => 'form-control', :required => true, :oninput => "this.setCustomValidity('')", :oninvalid => "this.setCustomValidity('Letters and Special Characters only')", :pattern => "[a-zA-ZA-z0-9À-ž.'- ]{1, }"}) %>
                </div>
                <div class="form-group">
                    <label class="required" for="tutor_type_of_tutor">Type of Tutor</label>
                    <%= select_tag("tutor[type_of_tutor]", options_for_select(['CSM (8-12 hours)', 'TA (12 hours)', 'Academic Intern (36 hours)', 'Tutor (12 hours)'],  @tutor.type_of_tutor), {:class => 'form-control', :required => true}) %>
                </div>
                <div class="form-group">
                    <label class="required" for="tutor_term">Term in Attendance</label>
                    <%= select_tag("tutor[term]", options_for_select(['1', '2', '3', '4', '5', '6', '7', '8', '9 or higher'],  @tutor.term), {:class => 'form-control', :required => true}) %>
                </div>
                 <div class="form-group">
                    <label class="required" for="tutor_gender">Gender</label>
                    <%= select_tag("tutor[gender]", options_for_select(['Male', 'Female', 'Non-binary', 'Prefer not to say'],  @tutor.gender), {:class => 'form-control', :required => true}) %>
                </div>


               <div class="form-group">
                    <label class="required" for="tutor_sid">SID</label>
                    <%= text_field_tag("tutor[sid]",  @tutor.sid, {:class => 'form-control', :required => true, :oninput => "this.setCustomValidity('')", :oninvalid => "this.setCustomValidity('Numbers Only')", :pattern => '[0-9]+$'}) %>
                </div>
                <div class="form-group">
                    <label class="required" for="tutor_dsp?">DSP?</label>
                    <%= select_tag("tutor[dsp]", options_for_select([["Yes", true], ["No", false]],  @tutor.dsp), {:class => 'form-control', :required => true}) %>
                </div>
                <div class="form-group">
                    <label class="required" for="tutor_transfer?">Transfer?</label>
                    <%= select_tag("tutor[transfer]", options_for_select([["Yes", true], ["No", false]],  @tutor.dsp), {:class => 'form-control', :required => true}) %>
                </div>

        	</div>
    	</div>
    </div>
    <div style="width: 100%;">
    	<%= link_to 'Back', tutor_path(@tutor), class: 'btn btn-secondary'%>
		<input type="submit" value="Update" class="btn btn-primary" style="float:right;">
    </div>
    <%end%>
</div>
