
<%= stylesheet_link_tag "tutor_request" %>
<script src='https://cloud.tinymce.com/5/tinymce.min.js?apiKey=qoelxh4j0znn7hzz2ucbj8swdj5aur7zuzq8t1l0tml3v35j'></script>
<%= javascript_include_tag "email" %>
<script>
  $(document).ready(()=>{
     tinymce.init({
      selector: 'textarea#classic',  // change this value according to the HTML
      height: 500,
      plugins: [
          'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
          'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
          'save table contextmenu directionality emoticons template paste textcolor'
        ],
      toolbar: 'undo redo | styleselect | bold italic | link image'
    });
  });
</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css" />


<% if alert %>
  <%= render "notice_danger" %>
<% end %>

<% if notice %>
  <%= render "notice_success" %>
<% end %>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 m-top-10">
            <form action=<%= tutor_path(@tutor) %> method="GET">
                <input type="submit" class="btn btn-primary" value="Back"/>
            </form>
        </div>
        <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 m-top-10">
            <h1 class="text-center">Students on the Queue</h1>
        </div>
        <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 m-top-10">
            <div class="card">
                <div class="card-header">
                    <nav>
                        <div class="nav nav-tabs card-header-tabs mx-auto text-center" id="nav-tab" role="tablist">
                            <% @true_classes.each_with_index do |true_class, index| %>
                                <a class="nav-item nav-link<% if (index == 0) %> active<% end %>"
                                    id="<%=true_class %>-tab"
                                    data-toggle="tab"
                                    href="#<%=true_class %>"
                                    role="tab"
                                    aria-controls="#<%=true_class %>"
                                    aria-selected="<% if (index == 0) %>true<% else %>false<%end%>">
                                    <%=true_class %>
                                </a>
                            <% end %>
                        </div>
                    </nav>
                </div>
                    <div class="card-body">
                        <div class="tab-content" id="nav-tabContent">
                            <% @true_classes.each_with_index do |true_class, index| %>
                                <div class="tab-pane fade<% if (index == 0) %> show active<%end%>"
                                    id="<%=true_class %>"
                                    role="tabpanel"
                                    aria-labelledby="<%=true_class %>-tab">
                                    <% x = Course.where(name: true_class, semester: Course.current_semester).first %>
                                    <% if (x.nil?) %>
                                        <div class="alert alert-info">
                                            <p> There are no students in the queue for <%=true_class%>. </p>
                                        </div>
                                    <% else %>
                                        <% course_obj = Course.where(name: true_class, semester: Course.current_semester).first %>
                                        <% requests_obj = Request.where(course_id: course_obj.id).order(created_at: :asc)%>
                                        <% requests_obj = requests_obj.select { |req|  !(req.closed) and (req.evaluation.nil? or req.meeting.nil?) } %>
                                            <% if (requests_obj.length == 0) %>
                                                <div class="alert alert-info">
                                                    <p> There are no students in the queue for <%=true_class%>. </p>
                                                </div>
                                            <% else %>
                                                <% requests_obj.each do |req| %>
                                                    <% tutee = Tutee.find(req.tutee_id) %>
                                                    <ul class="list-group list-group-flush">
                                                        <li class="list-group-item student-row">
                                                            <p> Course: <b> <%= course_obj.name %> </b>
                                                            <p> Student: <b> <%= tutee.first_name + ' ' + tutee.last_name%> </b></p>
                                                            <p> Subject: <b> <%= req.subject%> </b></p>
                                                            <p class="last"> <button class="btn btn-primary" onclick="showEmailForm(['<%=Tutee.find(req.tutee_id).email%>', '<%=req.tutee_id%>', '<%=req.id %>', '<%=req.meeting_length %>' ])">Select Student</button></p>
                                                        </li>
                                                    </ul>
                                                <% end %>
                                            <% end %>
                                    <% end %>
                                </div>
                         <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form id="email-form" action=<%= tutor_match_path(@tutor) %> method="get">
    <div>
        <label>Propose meeting connection request</label>
        <h1 id="to-email"></h1>
        <input id="student-id" name="student[id]" type="hidden" value="">
        <input id="tutee-id" name="tutee_id" type="hidden" value="">
        <input id="student-email" name="student[email]" type="hidden" value="">
        <input id="request-id" name="student[requestid]" type="hidden" value="">
        <p id="meeting-length"></p>
        <div class="container1" id="container123">
            <button class="btn btn-primary m-top-10" type="connect">Connect</button>
        </div>
    </div>
</form>
