<%= stylesheet_link_tag "tutors_new" %>

<% if notice %>
  <%= render "notice_danger" %>
<% end %>

<%= form_for @tutor, :url => tutors_path do |form|%>
  <div class="row mt-4 center-form">
    <div class="form-group">
      <%= form.label :first_name, class: 'required' %><br>
      <%= form.text_field :first_name, class: 'form-control ', placeholder: 'eg. Jane', :required => true, pattern: '[a-zA-Z\-\']+', oninput: "this.setCustomValidity('')", oninvalid: "this.setCustomValidity('Letters and Special Characters only')" %>
    </div>

    <div class="form-group">
      <%= form.label :last_name, class: 'required' %><br>
      <%= form.text_field :last_name, class: 'form-control ', placeholder: 'eg. Doe', :required => true, pattern: '[a-zA-Z\-\']+', oninput: "this.setCustomValidity('')", oninvalid: "this.setCustomValidity('Letters and Special Characters only')"%>
    </div>

    <div class="form-group">
      <%= form.label :email, class: 'required' %><br>
      <%= form.text_field :email, class: 'form-control ', placeholder: 'eg. oski@berkeley.edu', :required => true,  pattern: "[a-zA-Z0-9._%+-]+@berkeley\.edu$", oninput: "this.setCustomValidity('')" ,oninvalid: "this.setCustomValidity('Enter berkeley email only')" %>
    </div>

    <div class="form-group">
      <%= form.label :type_of_tutor, class: 'required' %>
      <%= form.select :type_of_tutor, options_for_select(['CSM (8-12 hours)', 'TA (12 hours)', 'Academic Intern (36 hours)', 'Tutor (12 hours)']), {}, {class: 'form-control ', :required => true} %>
    </div>

    <div class="form-group">
      <%= form.label :grade_level, class: 'required'%>
      <%= form.select :grade_level, options_for_select(['Freshman', 'Sophomore', 'Junior', 'Senior']), {}, {class: 'form-control', :required => true} %>
    </div>

    <div class="form-group horiz-form">
      <div class="required" style="width: 100%;">Classes</div>
      <%= fields_for :classes do |nc| %>
        <% @berkeley_classes.each do|bc| %> 
          <div class="bc-container">
            <%= nc.check_box bc, {}, true, false%>
            <label for=<%="classes_" + bc%>> 
              <%= bc %> 
            </label>
          </div>
        <% end %>
      <% end %>
    </div>


    <div style="width: 100%;">
        <%= link_to 'Back', welcome_tutor_path, class: 'btn btn-secondary text-light'%>
        <button type="submit" class="btn btn-light float-right">Create New Tutor</button>
    </div>
  </div>
<%end %>