<%= stylesheet_link_tag "tutors_new" %>
<div id = "new_form_header">
  <h1>Sign-up as a new Tutor</h1>
  <% if @tutor.errors.any?%>
    <h2>The following errors prevented the article from getting created</h2>
    <% @tutor.errors.full_messages.each do|msg|%>
      <li><%= msg %></li>
    <%end %>
  <%end %>
</div>

<% if notice %>
  <p class="alert alert-danger"><%= notice %></p>
<% end %>

<div id = "new_form_background">
  <%= form_for @tutor do |form| %>
    <div class="field">
      <%= form.label :first_name %><br>
      <%= form.text_area :first_name %>
    </div>
    <div class="field">
      <%= form.label :last_name %><br>
      <%= form.text_area :last_name %>
    </div>
    <div class="field">
      <%= form.label :type_of_tutor %><br>
      <%= form.text_field :type_of_tutor %>
    </div>
    <div class="field">
      <%= form.label :grade_level %><br>
      <%= form.text_area :grade_level %>
    </div>
    <div class="field">
      <%= form.label :email %><br>
      <%= form.text_area :email %>
    </div>
    <div class="actions">
      <%= form.submit %>
    </div>
  <%end %>
</div>

<%= link_to 'Back', tutors_path %>
