
<%= stylesheet_link_tag "tutors" %>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>

<div class="container emp-profile" style="margin-top: 25px;">
            <!-- <form method="post"> -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <!-- <img src="/assets/user.svg" width="125px" /> -->
                            <%= image_tag("user.svg") %>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5 style="padding-top: 16px;
    font-size: 30px;">
                                        <%= @tutor.first_name %> <%= @tutor.last_name%>
                                    </h5>
                                    <h6 style="margin-bottom: 60px;">
                                        <%=@tutor.type_of_tutor%>
                                    </h6>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Hours</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Reviews</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                    	<form action=<%= edit_tutor_path(@tutor) %> method="GET">
                        	<input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
                    	</form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <p>Preferred Classes</p>
                            <% @true_classes.each do |berkeley_class| %>
                            <div class="value" >
                                <label> <%=berkeley_class%> </label>
                            </div>
                            <% end %>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab" style="padding: 0 20px 20px 20px;">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6 field">
                                                <p><%= @tutor.email%></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Year</label>
                                            </div>
                                            <div class="col-md-6 field">
                                                <p><%= @tutor.grade_level%></p>
                                            </div>
                                        </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Total Hours</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>10</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Average Hours/Week</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>3</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Evaluation Score</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>9.2/10</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Most Tutored Class</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>CS61A</p>
                                            </div>
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- </form>            -->
        </div>