<% if notice %>
  <%= render "notice_success" %>
<% end %>


<%= stylesheet_link_tag "tutors" %>
<%= stylesheet_link_tag "dataTables.bootstrap4.min.css" %>


<div style=" " class="container emp-profile">
    <div>
        <a class="glyphicon glyphicon-off" href=<%= tutors_path %>></a>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                <%= image_tag("user.svg") %>
            </div>
        </div>
        <div class="col-md-6">
            <div class="profile-head">
                <h5 style="padding-top: 16px; font-size: 30px;">
                    <%= @tutor.first_name %> <%= @tutor.last_name%>
                </h5>
                <h6 style="margin-bottom: 20px;">
                    <%=@tutor.type_of_tutor%>
                </h6>
                <div >
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="" data-toggle="tab" role="tab" href="#"aria-controls="home" aria-selected="true">Meetings</a>
                        </li>
                    </ul>
                    <ul class="testing" id="testing">
                    </ul>
                    <% @meetings.each do |meeting| %>
                      <li style="padding-top: 16px;">
                        <%tutee = Tutee.find_by_id(meeting.tutee_id)%>
                        <div>Name: <%=tutee.first_name + " " + tutee.last_name%> </div>
                        <div>Time: <%=meeting.set_time.strftime("%A %d at %l:%M %p")%> </div>
                        <div>Location: <%=meeting.set_location.titleize%> </div>
                        <div>Contact at: <%=tutee.email%> </div>
                      <%= link_to 'Destroy', "/tutees/" + String(meeting.tutee_id) + "/meetings/1", method: :delete %>
                      </li>
                    <% end %>
                </div>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Hours</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Reviews</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-2">
        	<form action=<%= edit_tutor_path(@tutor) %> method="GET">
            	<input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
        	</form>
            <%= link_to '<button style="margin-top: 10px; margin-left: -52px" class="profile-new-stud-btn" type="button">Find Student!</button>'.html_safe, tutor_find_students_path(@tutor) %>
        </div>

    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="profile-work">
                <p>Preferred Classes</p>
                <% @true_classes.each do |berkeley_class| %>
                <div class="value" >
                    <label> <%= berkeley_class %> </label>
                </div>
                <% end %>
            </div>
        </div>
        <div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab" style="padding: 0 20px 20px 20px;">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Email</label>
                        </div>
                        <div class="col-md-6 field">
                            <p><%= @tutor.email%></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Years in School</label>
                        </div>
                        <div class="col-md-6 field">
                            <p><%= @tutor.grade_level%></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Birthday</label>
                        </div>
                        <div class="col-md-6 field">
                            <p><%= @tutor.birthday.try(:request_date).try(:strftime, '%B %e, %Y')%></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Gender</label>
                        </div>
                        <div class="col-md-6 field">
                            <p><%= @tutor.gender%></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>SID</label>
                        </div>
                        <div class="col-md-6 field">
                            <p><%= @tutor.sid%></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Major</label>
                        </div>
                        <div class="col-md-6 field">
                            <p><%= @tutor.major%></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Are you a DSP student?</label>
                        </div>
                        <div class="col-md-6 field">
                            <p><%= @tutor.dsp? ? "Yes" : "No" %></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Are you a transfer student?</label>
                        </div>
                        <div class="col-md-6 field">
                            <p><%= @tutor.transfer? ? "Yes" : "No" %></p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Current Total Hours</label>
                        </div>
                        <div class="col-md-6">
                            <p><%= total_hours %></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Average Hours/Week</label>
                        </div>
                        <div class="col-md-6">
                          <p><%= average_hours %></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Hours this week</label>
                        </div>
                        <div class="col-md-6">
                          <p><%= hours_this_week %></p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                    <div class="row">
                        <div style="margin-left: 32px; font-size: 22px;">
                            <label>Coming Soon!</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    if (meeting_times.length == 0){
        var div = document.createElement("div");
        div.innerHTML += `<li style="padding-top: 16px;"> No scheduled meetings</li>`;
        document.getElementById('testing').appendChild(div);
    }
</script>
