<%= stylesheet_link_tag "tutors" %>
<p id="notice"><%= notice %></p>
<h1 class="tutor_title"><%= @tutor.first_name %> <%= @tutor.last_name %>'s Profile</h1>
<div id="tutor_attr">
	<div>
		<div class="field">
			Type of Tutor:
		</div>
		<div class="value">
			<%= @tutor.type_of_tutor%>
		</div>
	</div>
	<div>
		<div class="field">
			Grade Level:
		</div>
		<div class="value">
			<%= @tutor.grade_level%>
		</div>
	</div>
	<div>
		<div class="field">
			Preferred Classes:
		</div>
		<% @classes.each do |berkeley_class| %>
  			<div class="value">
				<%= berkeley_class %>
			</div>
		<% end %>
	</div>
	<div>
		<div class="field">
			Email:
		</div>
		<div class="value">
			<%= @tutor.email%>
		</div>
	</div>
</div>
<%= link_to 'Edit', edit_tutor_path(@tutor) %> |
<%= link_to 'All Tutors', tutors_path %>