.container-fluid
  %ol.breadcrumb
    %li.breadcrumb-item
      %a{:href => '#'} History
    %li.breadcrumb-item.active Overview

  / DataTables Example
  .card.mb-3
    .card-header
      %span.glyphicon.glyphicon-list-alt Tutoring History
    .card-body
      .table-responsive
        %table#dataTable.table.table-bordered{:cellspacing => '0', :width => '100%'}
          %thead
            %tr
              %th Tutor
              %th Course
              %th Subject
              %th Took Place
              %th Date Created
              %th Status
            %tfoot
              %tr
                %th Tutor
                %th Course
                %th Subject
                %th Took Place
                %th Date Created
                %th Status
          %tbody
            - @evaluations.each do |evaluation|
              %tr
                %td= evaluation.meeting.tutor.first_name + ' ' + evaluation.meeting.tutor.last_name
                %td= evaluation.meeting.request.course
                %td= evaluation.meeting.request.subject
                %th= evaluation.took_place ? 'Yes' : 'No'
                %td= evaluation.created_at.strftime("%Y-%m-%d")
                %td= link_to evaluation.status, tutee_evaluation_path(@tutee, evaluation)

/ /.container-fluid
