%h2 #{@tutee.first_name} #{@tutee.last_name}

= form_tag tutee_requests_path(:tutee_id=>@tutee.id), class: 'container' do

  .form-row
    .form-group.col-md-4
      = label :request, :course_id, 'Please pick a course:'
      = select :request, :course_id, options_for_select(@course_array), :id=>'course_list'

  .form-row
    .form-group.col-md-4
    = label :request, :subject, 'What topics you would like to cover?'
    = text_field :request, 'subject'

  = submit_tag 'Request Tutor', :id=>'request_tutor'