%html
  %head
    %title
      User Info
  %body
    %h1 Edit User information

    = form_tag tutee_path(@tutee), :method => :put do

      = label :tutee, :first_name, 'First Name'
      = text_field :tutee, 'first_name'

      = label :tutee, :last_name, 'Last Name'
      = text_field :tutee, 'last_name'

      = label :tutee, :sid, "Student SID"
      = number_field :tutee, 'sid'

      = label :tutee, :email, "Email"
      = text_field :tutee, 'email'

      = label :tutee, :privilege, "Are you a CS Scholar"
      = select :tutee, :privilege, ['No', 'Yes']

      = submit_tag 'Update information'

      .jumbotron.text-center
      %h1 My First Bootstrap Page
      %p Resize this responsive page to see the effect!
    .container
      .row
        .col-sm-4
          %h3 Column 1
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit...
          %p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...
        .col-sm-4
          %h3 Column 2
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit...
          %p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...
        .col-sm-4
          %h3 Column 3
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit...
          %p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...

