%html
  %head
    %title
      Create Account
    %body
      %h1 Create Account

      = form_tag tutees_path do

        = label :tutee, :first_name, 'First Name'
        = text_field :tutee, 'first_name'

        = label :tutee, :last_name, 'Last Name'
        = text_field :tutee, 'last_name'

        = label :tutee, :sid, "Student SID"
        = number_field :tutee, 'sid'

        = label :tutee, :email, "Email"
        = text_field :tutee, 'email'

        = label :tutee, :privilege, "Are you a CS Scholar"
        = select :tutee, :privilege, ['Yes', 'No']

        = submit_tag 'Save Changes'