.container-fluid


  %ol.breadcrumb
    %li.breadcrumb-item
      %a{:href => '#'} Dashboard
    %li.breadcrumb-item.active Overview

  / Icon Cards
  .row
    .col-xl-3.col-sm-6.mb-3
      .card.text-white.bg-primary.o-hidden.h-100
        .card-body
          .card-body-icon
            %i.glyphicon.glyphicon-map-marker
          .mr-5
          -if not @meeting.nil? and @meeting.set_time.nil?
            = "Set Up Next Meeting"
          -elsif @meeting.nil?
            = "No Pending Meetings"
          -else
            = "Next Meeting " + @meeting.set_time.strftime("%a %d at %l:%M %p")
        %a.card-footer.text-white.clearfix.small.z-1{:href => tutee_meetings_path(@tutee, 1)}
          %span.float-left View Details
          %span.float-right
            %i.glyphicon.glyphicon-map-marker
    .col-xl-3.col-sm-6.mb-3
      .card.text-white.bg-success.o-hidden.h-100
        .card-body
          .card-body-icon
            %i.glyphicon.glyphicon-tasks
          .mr-5 #{@evaluations.where(:status => 'complete').count} Completed Sessions!
        %a.card-footer.text-white.clearfix.small.z-1{:href => request_history_tutee_path(@tutee)}
          %span.float-left View Details
          %span.float-right
            %i.glyphicon.glyphicon-tasks
    .col-xl-3.col-sm-6.mb-3
      .card.text-white.bg-warning.o-hidden.h-100
        .card-body
          .card-body-icon
            %i.glyphicon.glyphicon-shopping-cart
          .mr-5 #{@requests.count - @evaluations.where(created_at: Date.today.beginning_of_week.strftime("%Y-%m-%d")..Time.now).count} Pending Requests!
        %a.card-footer.text-white.clearfix.small.z-1{:href => new_tutee_request_path(@tutee)}
          %span.float-left View Details
          %span.float-right
            %i.glyphicon.glyphicon-shopping-cart
    .col-xl-3.col-sm-6.mb-3
      .card.text-white.bg-danger.o-hidden.h-100
        .card-body
          .card-body-icon
            %i.glyphicon.glyphicon-pushpin
          .mr-5 #{@evaluations.where(:status => 'Pending').count} Pending Evals!
        %a.card-footer.text-white.clearfix.small.z-1{:href => tutee_evaluations_path(@tutee)}
          %span.float-left View Details
          %span.float-right
            %i.glyphicon.glyphicon-pushpin

  / DataTables Example
  .card.mb-3#request
    .card-header
      %span.glyphicon.glyphicon-list-alt Weeks Requests
    .card-body
      .table-responsive
        %table#dataTable.table.table-bordered{:cellspacing => '0', :width => '100%'}
          %thead
            %tr
              %th Tutee
              %th Course
              %th Subject
              %th Created
              %th Status
          %tfoot
            %tr
              %th Tutee
              %th Course
              %th Subject
              %th Created
              %th Status
          %tbody
            - @requests.each do |request|
              %tr
                %td= request.tutee.first_name
                %td= request.course
                %td= request.subject
                %td= request.created_at.strftime("%Y-%m-%d")
                %td= request.meeting ? 'Matched' : 'Unmatched'
/ /.container-fluid
