%h2 #{@tutee.first_name} #{@tutee.last_name}


=form_tag requests_path(:tutee_id=>@tutee.id,:course_id =>1), :method=>:post do
  %li
    Please pick a course:
    = select_tag "dropdown", options_from_collection_for_select(@courses, 'id', "name")

  %li
    -#= label :request, :subject, 'What topics you would like to cover?'
    What topics you would like to cover?
    = text_field :request, 'subject'

  = submit_tag 'Request Tutor'