!!!
%html{:lang => 'en'}
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %meta{:charset => 'utf-8'}/
    %meta{:content => 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}/
    %meta{:content => 'width=device-width, initial-scale=1, shrink-to-fit=no', :name => 'viewport'}/
    %meta{:content => '', :name => 'description'}/
    %meta{:content => '', :name => 'author'}/
    %title Cs370
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags
    = csp_meta_tag



  %body#page-top

    / Navbar
    %nav.navbar.navbar-expand.navbar-dark.bg-dark.static-top
      %a.navbar-brand.mr-1.glyphicon.glyphicon-user{:href => tutee_path(@tutee)} #{@tutee.first_name + ' ' + @tutee.last_name}
      .d-none.d-md-inline-block.form-inline.ml-auto.mr-0.mr-md-3.my-2.my-md-0
        .input-group
          .input-group-append
            %a.navbar-brand.mr-1{:href => '#'} CS370
    / Navbar end
    - if flash[:message]
      .alert.alert-danger
        %span.error= flash[:message]

    #wrapper
      / Sidebar
      %ul.sidebar.navbar-nav
        %li.nav-item.post{:class => "#{'active' if current_page?(tutee_path(@tutee))}"}
          %a.nav-link{:href => tutee_path(@tutee)}
            %span.glyphicon.glyphicon-dashboard
            %span Dashboard
        %li.nav-item.post{:class => "#{'active' if current_page?(edit_tutee_registration_path(@tutee))}"}
          %a.nav-link{:href => edit_tutee_registration_path(@tutee)}
            %span.glyphicon.glyphicon-folder-close
            %span Edit Info
        %li.nav-item.post{:class => "#{'active' if current_page?(new_tutee_request_path(@tutee))}"}
          %a.nav-link{:href => new_tutee_request_path(@tutee)}
            %span.glyphicon.glyphicon-pencil
            %span Request
        %li.nav-item.post{:class => "#{'active' if current_page?(request_history_tutee_path(@tutee))}"}
          %a.nav-link{:href => request_history_tutee_path(@tutee)}
            %span.glyphicon.glyphicon-list-alt
            %span History
        %li.nav-item.post{:class => "#{'active' if current_page?(tutee_evaluations_path(@tutee))}"}
          %a.nav-link{:href => tutee_evaluations_path(@tutee)}
            -if @tutee.evaluations.where(:status => 'Pending').first
              %span.glyphicon.glyphicon-edit
            -else
              %span.glyphicon.glyphicon-check
            %span Evaluation
        %li.nav-item
          %a.nav-link{"data-method" => "delete", :href => destroy_tutee_session_path, :rel => "nofollow"}
            %span.glyphicon.glyphicon-off
            %span Logout
      / Sidebar end

      #content-wrapper
        = yield
        / Sticky Footer
        %footer.sticky-footer
          .container.my-auto
            .copyright.text-center.my-auto
              %span Copyright © UC Berkeley 2019
